html, body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
#canvasContainer{
    display: block;
    margin:  0 auto;
}
canvas{
    display: block;
    margin: 0 auto;
}
#tools{
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}
h1{
    font-size: 64px;
    text-align: center;
}